* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

.body-box {
    width: 375px;
    margin: auto;
}

.header-box {
    position: relative;
    display: block;
    height: 230px;
    width: 100%;

}

.logo {
    height: 80px;
    top: 0px;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 2px rgb(5, 5, 50) solid;
    margin-top: 30px;
    padding: 0px 20px 0px 0px;
}

.text-of-logo {
    width: 110px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 200;
}

.img-in-logo {
    width: 50px;
    height: 50px;
}

.profile-icon {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-box {
    width: 100%;
    height: 500px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-in-main {
    font-size: 20px;
    font-weight: 200;
    color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttom-log-in {
    width: 100%;
    height: 80px;
    border: 3px black solid;
    border-radius: 20px;
    margin: auto;
    font-size: larger;
    font-weight: 300;

}

.undecorated1 {
    text-decoration: none;
    color: black;
}



.nav-in-footer {
    border-top: 2px black solid;
    height: 100px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.menu-footer {
    width: 24%;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}