* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto';
  background-color: rgb(222, 222, 222);
}

.container {
  background-color: white;
  max-width: 375px;
  margin: auto;
  position: relative;
  overflow: hidden;

  .upward {
    position: fixed;
    bottom: 90px;
    right: 20px;
    transition: 1s;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
  }
}

.upward.active {
  visibility: visible;
  opacity: 1;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
}

.stock-container {
  width: 375px;
  padding-bottom: 50px;
  display: none;
  img {
    width: 375px;
    height: 355px;
  }
}
.stock-container.visible{
  width: 375px;
  display: block;
  z-index: 2;
  min-height:100% ;
  position: fixed;
  background-color: white;
}
.stock-item-close {
  background-color: #ffffff00;
  border: 0px;
  padding-right: 10px;
}

.stock-title {
  width: 375px;
  height: 52px;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  border-bottom: 2px solid black;

  p {
    font-weight: 700;
    font-size: 32px;
    line-height: 130%;
    color: #000;
  }
}
.stock-text{
  p{
    width: 375px;
    font-weight: 600;
    font-size: 18px;
  }
  p:first-child{
    padding:20px 15px 15px 15px ;
  }
  p:nth-child(2){
    padding:0px 15px 15px 15px ;  
  }
}
.menu {
  position: absolute;
  top: 0;
  left: 0;
  right: -390px;
  z-index: 99;
  // display: none;
  visibility: hidden;
  opacity: 0;
  transition: 300ms;

  a {
    text-decoration: none;
  }

  .item {
    border-top: 1px solid #000;
    width: 390px;
    padding: 20px;
    height: 90px;
    background-color: white;
    font-weight: 700;
    font-size: 32px;
    line-height: 130%;
    color: #000;
  }

  .item-close {
    background-color: white;
    border: 0px;

  }

  .item-close-container {
    background-color: white;
    height: 52px;
    text-align: right;
    padding-right: 20px;
  }
}

.menu.visible {
  // display: block;
  width: 390px;
  height: 749px;
  margin: auto;
  visibility: visible;
  opacity: 1;
  transition: 300ms;
  right: 0px;
  // .item {
  //   border-top: 1px solid #000;
  //   width: 390px;
  //   padding: 20px;
  //   height: 90px;
  //   background-color: white;
  //   font-weight: 700;
  //   font-size: 32px;
  //   line-height: 130%;
  //   color: #000;
  // }

  // .item-close {
  //   background-color: white;
  //   border: 0px;

  // }

  // .item-close-container {
  //   background-color: white;
  //   height: 52px;
  //   text-align: right;
  //   padding-right: 20px;
  // }
}

.header-title {
  width: 390px;
  height: 52px;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;

  p {

    font-weight: 700;
    font-size: 32px;
    line-height: 130%;
    color: #000;
  }

  .burger {
    padding-right: 10px;
    background-color: transparent;
    border: 0px;
  }
}

.swiper {
  width: 375px;
}

.swiper-container {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

// .header-img {
//   display: flex;
//   justify-content: space-between;
//   border: 1px solid black;
//   width: 375px;
// }
// border: 1px solid black;
// width: 375px;

// .header-img-text {
//   width: 122px;
//   height: 94px;
// }

.header-img2 {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  background-image: url(../../img/main/swiper1/1.jpg);
  width: 375px;
  height: 189px;

  font-weight: 700;
  font-size: 62px;
  line-height: 70%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #000;
  padding: 20px 10px 0px 0px;
  align-items: end;
  background-repeat: no-repeat;
  background-size: cover;

  p:nth-child(2) {
    font-size: 36px;
  }

  button {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 13px 20px;
    width: 125px;
    height: 42px;
  }

  a {
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #000;
    text-decoration: none;
  }

  button:active {
    background-color: black;

    a {
      color: white;
    }
  }
}

.header-img3 {
  background-image: url(../../img/main/swiper1/2.png);
  display: flex;
  flex-direction: column;
  justify-content: normal;
  width: 375px;
  height: 189px;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 700;
  font-size: 62px;
  line-height: 70%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #000;
  padding: 20px 10px 0px 0px;
  align-items: end;


  p:nth-child(2) {
    font-size: 36px;
  }

  button {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 13px 20px;
    width: 125px;
    height: 42px;
  }

  a {
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #000;
    text-decoration: none;
  }

  button:active {
    background-color: black;

    a {
      color: white;
    }
  }
}

.carousel {
  padding: 10px 0px 0px 0px;
  width: 375px;
  height: 159px;
  border-bottom: 1px solid #000;
}

.swiper-slide-sec {
  width: 96px;
  height: 123px;
}

.swiper2 {
  width: 375px;
}

.card-container {
  display: flex;

}

main {
  margin-bottom: 85px;
}

.vertical-text {
  border-right: 1px solid black;
  width: 70px;
  margin-right: 35px;

  p {
    font-weight: 700;
    font-size: 32px;
    line-height: 130%;
    color: #000;
    transform: rotate(-90deg) translateX(-220px);
    transform-origin: left top 0;
    padding: 10px 0px 10px 10px;
    width: 200px;
  }
}

.card {
  height: 384px;
}

.card-item {
  width: 258px;
  margin: 0;
  padding-top: 20px;
}

.card-item-text {
  width: 258px;
  height: 114px;

  p:nth-child(1) {
    font-weight: 700;
    font-size: 22px;
    line-height: 124%;
    color: #000;
  }

  p:nth-child(2) {
    font-weight: 400;
    font-size: 17px;
    line-height: 127%;
    color: rgba(0, 0, 0, 0.6);
  }
}

.coast {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {

    font-weight: 700;
    font-size: 21px;
    line-height: 124%;
    color: #000;
  }
}

.card-column {
  display: flex;
  flex-direction: column;
}

